#cube-container .container {
  perspective: 500px;
  perspective-origin: 50% -100px;
  /* transform: translateX(-50%); */
}

#cube-container .cube {
  margin-top: 45px;
	position: relative;
	transform-style: preserve-3d;
  
}
#cube-container div:not(.container,.cube) {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  background-color: rgba(#fff, 0.075);
}

#cube-container .back {
  transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
  background-color: rgba(0, 255, 255, 0.507);
}
#cube-container .right {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
  background-color: rgba(255, 174, 0, 0.507);
}
#cube-container .left {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
  background-color: rgba(190, 56, 252, 0.507);
}
#cube-container .top {
  transform: rotateX(-90deg) translateY(-50%);
  transform-origin: top center;
  background-color: rgba(123, 255, 0, 0.507);
}
#cube-container .bottom {
  transform: rotateX(90deg) translateY(50%);
  transform-origin: bottom center;
  background-color: rgba(255, 0, 21, 0.507);
}
#cube-container .front {
  transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
}